* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    
}
.body{
    width: 100%;
    background: url(marsh.jpg);
    height: 100%;
    width: 100%;    
    background-size: cover;
}
.log{
    display: flex;
height: 150px;
width: 1500px;
margin-top: -29px;
margin-left: -704px;
    justify-content: center;
}
.nave{
    display: inline-flex;
    margin-top: 6px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 92px;
    margin-top: -21px;
    background: #464040;
}
nav .lis {
    display: flex;
    line-height: 75px;
}

nav .lis .naves {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .lis .naves:hover {
    background: #6c369e;
}

nav .lis .nav-link {
    color: #f1f1f1;
    font-size: 25px;
    font-weight: 500;
}
.camp {
    display: flex;
    justify-content: center;
    min-height: 65vh;
    margin-left: -1000px;
    align-items: center;    
    font-family: 'Nanum Myeongjo' , serif;
}
.intro h2{
    position: relative;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 1.7em;
    animation: animate 5s linear infinite;
    
}


.intro h3{
    position: relative;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 1.7em;
    animation: animate 5s linear infinite;
    
}

@media (max-width: 935px) {
    .body{
        width: auto;
        height: 100vh;
        background: url(marsh.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .log{
        display: flex;
    height: 93px;
    width: 1500px;
    margin-top: -9px;
    margin-left: -30px;
        justify-content: center;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        height: 55px;
        margin-top: -21px;
        background: #464040;
    }
    nav .lis {
        display: grid;
        position: relative;
        background: #867474;
        width: 100%;
        top: 59px;
        left: -157px;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    nav .lis .naves {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
        
    }

nav .navbar-toggler {
    
    height: min-content;
    margin: 22px 115px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}



input:checked ~ nav .lis {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: relative;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

.camp {
    display: flex;
    justify-content: center;
    
    margin-left: -207px;
    align-items: center;    
    font-family: 'Nanum Myeongjo' , serif;
    margin-top: -305px;

}
.intro h2{
    position: relative;
    font-size: 2em;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 1.7em;
    animation: animate 5s linear infinite;
    z-index: -5;

}
.my{
display: none;
}

.intro h3{
    position: relative;
    font-size: 2em;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 1.7em;
    animation: animate 5s linear infinite;
    z-index: -5;
    
}

}
@media (max-width: 935px){
    .cont{
        margin-top: 76px;
        margin-left: -900px;
         text-align: center;
         line-height: 30px;
         display: flex;
         justify-content: center;
         flex-direction: column;
     }
     .cont h2{
         font-size: 36px;
         font-weight: 800;
         
         color: black;
     }
     .cont p{
         font-size: 36px;
         font-weight: 500;
         color: black;
     }
     .cass {
        display: flex;
        justify-content: flex-start;
        min-height: 0vh;
        margin-left:0px;
        align-items: center;    
        font-family: 'Nanum Myeongjo' , serif;
        margin-top: 0;
    }
    .int h2{
        position: relative;
        font-size: 2em;
        letter-spacing: 0.07px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        line-height: 0.07em;
        margin-top: 5px;
        animation: animate 8s linear infinite;
        
    }
    .int h3{
        position: relative;
        font-size: 2em;
        letter-spacing: 0.07px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        line-height: 0.07em;
        animation: animate 8s linear infinite;
        
    }

    .med{
        display: flex;
        justify-content: flex-start;
        margin-top: 54%;
        margin-left: -900px;
        align-items: center;
    }
    .by {
        align-items: center;
    height: 167px;
    width: 176px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25px;
    box-shadow: 20px 30px 40px rgb(7, 7, 7);
    margin-top: 17px;
    }
    .poj {
        align-items: center;
    height: 167px;
    width: 176px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25px;
    box-shadow: 20px 30px 40px rgb(7, 7, 7);
    margin-top: 17px;
    }
    .los {
        align-items: center;
    height: 167px;
    width: 176px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25px;
    box-shadow: 20px 30px 40px rgb(7, 7, 7);
    margin-top: 17px;
    }
    .hee {
        align-items: center;
    height: 167px;
    width: 176px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25px;
    box-shadow: 20px 30px 40px rgb(7, 7, 7);
    margin-top: 17px;
    }
}

.cont{
   margin-top: 76px;
   margin-left: -1241px;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cont h2{
    font-size: 36px;
    font-weight: 800;
    
    color: black;
}
.cont p{
    font-size: 36px;
    font-weight: 500;
    color: black;
}
 
.contfom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
 .continfo{
    width: 100%;
    height: 21vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #d4a1fe;
    margin-left: -990px;
}
.continfo .boxi{
    position: relative;
    padding: 20px;
    display: flex;
}
.iconic{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    font-size: 22px;
}
.texas{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.texas h3{
color: #000000;
    font-weight: 500;
}

.input span{
    position: relative;
    left: 0;
    padding: 5px;
    font-size: 16px;
    margin: 10px;
    pointer-events: none;
    transition: 1s;
    color: #666;
}
.formm{
    width: 295px;
    height: 398px;
    position: relative;
    top: 40px;
    left: -335px;
    border-radius: 10px;
    padding: 20px;
    
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%) ;
 }
 .formm input{
    width: 289px;
    height: 55px;
    background: transparent;
    border-bottom:1px solid #fff;
    border-top: none;
    border-left: none;
    border-right:none ;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family:'Nanum Myeongjo' , serif ;
}
.formm label{
    
    background: transparent;
    border-bottom:1px solid #fff;
    border-top: none;
    border-left: none;
    border-right:none ;
    color: #fffdfd;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 75px;
    font-family:'Nanum Myeongjo' , serif ;
}
.formm textarea{
    width: 240px;
    height: 95px;
    background: transparent;
    border-bottom:1px solid #fff;
    border-top: 1px solid #fff;;
    border-left:1px solid #fff;;
    border-right:1px solid #fff; ;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 5px;
    font-family:'Nanum Myeongjo' , serif ;
    
}
.formm input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family:'Nanum Myeongjo' , serif  ;
}
.hi{
    width: 240px;
    height: 40px;
    background: #fff;
    border: none;
    margin-top:30px ;
    font-size: 18px;
    border-radius: 10px;
    text-decoration-color: black;

}

.cass {
    display: flex;
    justify-content: flex-start;
    min-height: 53vh;
    margin-left: -120px;
    align-items: center;    
    font-family: 'Nanum Myeongjo' , serif;
    margin-top: -29%;
}
.int h2{
    position: relative;
    font-size: 3em;
    letter-spacing: 0.07px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 2.07em;
    margin-top: 5px;
    animation: animate 8s linear infinite;
    
}
.int h3{
    position: relative;
    font-size: 2em;
    letter-spacing: 0.07px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 2.07em;
    animation: animate 8s linear infinite;
    
}
@keyframes animate
{
    0%{
        color: #c0bcbe;
        box-shadow: none;
    }
     100%{
        color:#000000;
        box-shadow: 0 0 10px #000000,
        0 0 20px #504040,
        0 0 30px #333232,
        0 0 40px #383637;
    }
}
.med{
    display: flex;
    justify-content: flex-start;
    margin-top: 69%;
    margin-left: -900px;
    align-items: center;
}
.by {
    align-items: center;
height: 267px;
width: 276px;
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 25px;
box-shadow: 20px 30px 40px rgb(7, 7, 7);
margin-top: 17px;
}
.poj {
    align-items: center;
height: 267px;
width: 276px;
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 25px;
box-shadow: 20px 30px 40px rgb(7, 7, 7);
margin-top: 17px;
}
.los {
    align-items: center;
height: 267px;
width: 276px;
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 25px;
box-shadow: 20px 30px 40px rgb(7, 7, 7);
margin-top: 17px;
}
.hee {
    align-items: center;
height: 267px;
width: 276px;
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 25px;
box-shadow: 20px 30px 40px rgb(7, 7, 7);
margin-top: 17px;
}
.legas{
    position: relative;
    width: 100%;
    background: #d4a1fe;
    min-height: 50px;
   margin-top: 630px;
   margin-left: -630px;
}
.comns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
 .confo{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.continfo .boxi{
    position: relative;
    padding: 20px;
    display: flex;
}
.iconic{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    font-size: 22px;
}
.texas{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.texas h3{
color: #000000;
    font-weight: 500;
}

.input span{
    position: relative;
    left: 0;
    padding: 5px;
    font-size: 16px;
    margin: 10px;
    pointer-events: none;
    transition: 1s;
    color: #666;
}
.ints{
    width: 645px;
    height: 400px;
   margin-top: 34px;
    border-radius: 10px;
     padding: 25px;
 background:linear-gradient(to top, rgba(2, 46, 168, 0.5)50%, rgba(2, 46, 168, 0.5)50%) ;
}
.exp{
    margin-left: 144px;
    margin-top: 66px;
    align-items: center;
}
.work h2{
    position: relative;
    font-weight: 500;
    font-size: 70px;    
}


.ints p{
   
     margin: 2px;
     font-weight: 200 ;
     font-size: 40px;
}
.saha{
  
   position: relative;
   margin-top: -398px;
   margin-left: 721px;
   align-items: center;
}

.repo{
    width: 1785px;
    height: 578px;
   margin-top: 84px;
   margin-left: -1030px;
    border-radius: 10px;
     padding: 25px;
 background:linear-gradient(to top, rgba(2, 46, 168, 0.5)50%, rgba(2, 46, 168, 0.5)50%) ;
}
.repo h1{
    font-size: 40px;
    font-weight: 600;
}
.repo p{
    font-size: 30px;
    font-weight: 600;
}
@media (max-width: 935px){
    .ints{
        width: 517px;
        height: 401px;
       margin-top: 8px;
        border-radius: 10px;
         padding: 25px;
     background:linear-gradient(to top, rgba(2, 46, 168, 0.5)50%, rgba(2, 46, 168, 0.5)50%) ;
     z-index: -5;
    }
    .exp{
        position: relative;
        margin-left: 12px;
        margin-top: 15px;
        align-items: center;
        z-index: -5;
    }
    .work h2{
        position: relative;
        font-weight: 200;
        font-size: 51px; 
        z-index: -5;
    }
    
    
    .ints p{
       
         margin: 2px;
         font-weight: 200 ;
         font-size: 27px;
         z-index: -5;
    }
    .saha{
      
       position: relative;
       margin-top: 5px;
       margin-left: -14px;
       align-items: center;
    }
    
}
.all{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: -1600px;
}
.heeees p{
    font-size: 100px;
    font-weight: 300;
}
.all p{
    font-size: 100px;
    font-weight: 700;
}