* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    
}
.body{
    width: 100%;
    background: url(marsh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.log{
    display: flex;
height: 100%;
width: 100%;
    justify-content: center;
}
.nave{
    display: inline-flex;
    margin-top: -100px;
}
.new{
    display: inline-block;
    color: #fff;
    border: 2px solid white;
    padding: 13px 45px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 75px;
    line-height: 75px;
    background: #464040;
}
nav .lis {
    display: flex;
}

nav .lis .naves {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .lis .naves:hover {
    background: #b69955;
}

nav .lis .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 935px) {
    .body{
        width: auto;
        height: 100vh;
        background: url(marsh.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .new{
        margin-top: 500px;
        position: relative;
        margin-left: -500px;
    }
    nav .lis {
        display: grid;
        position: relative;
        background: #867474;
        width: 100%;
        top: 125px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    nav .lis .naves {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
        
    }

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 46px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .lis {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}
}
.camp {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    align-items: center;    
    font-family: 'Nanum Myeongjo' , serif;
    margin-right: 20px;
    margin-left: 20px;
}
.intro h2{
    position: relative;
    font-size: 3em;
    letter-spacing: 7px;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.7em;
    animation: animate 5s linear infinite;
    
}


.intro h3{
    position: relative;
    font-size: 3em;
    letter-spacing: 7px;
    
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.7em;
    animation: animate 5s linear infinite;
    
}
