* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    
    
}
.body{
    width: 1305px;;
    background: url(marsh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.log{
    display: flex;
height: 150px;
width: 1056px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: #ff0000;
}



nav .lis {
    display: flex;
}

nav .lis .naves {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .lis .naves:hover {
    background: #b69955;
}

nav .lis .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 935px) {
    .body{
        width: 500px;;
        background: url(marsh.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;

    }

    nav {
        padding: 0 2rem;
        width: 582px;
        margin-top: -125px;
        height: 126px;
        margin-right: 656px;
    }

    nav .lis .naves {
        padding: 0 20px;
    }

}

@media (max-width: 675px) {
    .log{
        display: flex;
    height: 125px;
    width: 125px;
    margin-left: 523px;
        justify-content: center;
    }

    nav .lis {
        display: grid;
        position: absolute;
        background: #ff0000;
        width: 99%;
        top: 125px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .lis .naves {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
        
    }

}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 46px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .lis {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}
